

/*-- scss:rules --*/

/* Headings ------------------------------------------------------ */

h1 {
  color: #263169;
}

h2 {
  color: #263169;
  
}

h3{
  color: #263169;
}

body {
text-align: justify}



